<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailystudy.dtmsapi.mapper.ImageMapper">

    <insert id="saveImage" parameterType="User">
        INSERT INTO Image (caption, createDate, postImageUrl, userId)
        VALUES (#{caption}, now(), #{postImageUrl}, #{user.id})
    </insert>

</mapper>
