<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailystudy.dtmsapi.mapper.UserMapper">

    <select id="selectUser" parameterType="int" resultType="User">
        SELECT *
        FROM User
        WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE User
        SET bio=#{bio},
            createDate=now(),
            email=#{email},
            gender=#{gender},
            name=#{name},
            password=#{password},
            phone=#{phone},
            profileImageUrl=#{profileImageUrl},
            role=#{role},
            website=#{website}
        WHERE id = #{id}
    </update>

</mapper>
