<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailystudy.dtmsapi.mapper.UserMapper">

    <select id="selectUser" parameterType="int" resultType="User">
        SELECT *
        FROM User
        WHERE id = #{id}
    </select>

    <select id="selectProfile" parameterType="int" resultMap="userWithImagesResultMap">
        SELECT user.id,
               user.bio,
               user.createDate,
               user.email,
               user.gender,
               user.name,
               user.password,
               user.phone,
               user.profileImageUrl,
               user.role,
               user.username,
               user.website,
               I.id         as imageId,
               I.caption,
               I.createDate as imageCreateDate,
               I.postImageUrl,
               I.userId
        FROM User user
                 LEFT JOIN Image I on user.id = I.userId
        WHERE user.id = #{id}
    </select>

    <resultMap id="userWithImagesResultMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="bio" column="bio"/>
        <result property="createDate" column="createDate"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="website" column="website"/>
        <collection property="images" ofType="Image">
            <id property="id" column="imageId"/>
            <result property="caption" column="caption"/>
            <result property="postImageUrl" column="postImageUrl"/>
            <result property="createDate" column="imageCreateDate"/>
        </collection>
    </resultMap>


    <update id="userUpdate" parameterType="User">
        UPDATE User
        SET bio=#{bio},
            createDate=now(),
            email=#{email},
            gender=#{gender},
            name=#{name},
            password=#{password},
            phone=#{phone},
            profileImageUrl=#{profileImageUrl},
            role=#{role},
            website=#{website}
        WHERE id = #{id}
    </update>

</mapper>
